.firstpost_advert_container{clear:both;display:block;float:left;margin-bottom:12px;position:relative;width:100%;border:1px solid #F5F5FF}.firstpost_advert{with:100%;background:#F5F5FF;border:1px solid #F5F5FF;min-height:15px;margin:0;padding:7px;text-align:center;vertical-align:middle}
/*
     FILE ARCHIVED ON 14:11:57 Mar 07, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:53:09 Jun 10, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 2.635
  load_resource: 445.127
  PetaboxLoader3.resolve: 382.926
  PetaboxLoader3.datanode: 48.189 (2)
  loaddict: 44.98
*/